<div class="container">		
	<form action="/adddata" method="POST" id="form2">	
		<legend>add data</legend>
		<div class="form-group"><label for="ffselect" name="ffselect">select FF</label><select name="selectff" id="selectff" class="form-control">
			{{#each firefighter}}
				<option value="{{this.name}}">{{this.name}}</option>
			{{/each}}
		</select></div>
		<div class="row">
			<div class="col-sm-4 form-group">
				<label for="fly1data">Flyer 1</label>
				<input type="text" id="fly1data" class="form-control" name="fly1data">
			</div>
			<div class="col-sm-4 form-group">
				<label for="fly2data">Flyer 2</label>
				<input type="text" id="fly2data" class="form-control" name="fly2data">
			</div>		
			<div class="col-sm-4 form-group">
				<label for="fly3data">Flyer 3</label>
				<input type="text" id="fly3data" class="form-control" name="fly3data">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 form-group">
				<label for="run1data">runer 1</label>
				<input type="text" id="run1data" class="form-control" name="run1data">
			</div>
			<div class="col-sm-4 form-group">
				<label for="run2data">runer 2</label>
				<input type="text" id="run2data" class="form-control" name="run2data">
			</div>		
			<div class="col-sm-4 form-group">
				<label for="run3data">runer 3</label>
				<input type="text" id="run3data" class="form-control" name="run3data">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 form-group">
				<label for="rp1data">Rescue pump 1</label>
				<input type="text" id="rp1data" class="form-control" name="rp1data">
			</div>
			<div class="col-sm-4 form-group">
				<label for="sparedata">Spare</label>
				<input type="text" id="sparedata" class="form-control" name="sparedata">
			</div>
		</div>			
		<button class="btn btn-primary" type="submit">Submit</button>
	</form>
</div>