<div class="container">		
	<form action="/addrescue" method="POST" id="rescueForm" name="rescueForm">	
		<legend>Add Rescue</legend>
		<div class="form-group"><label for="ffselect" name="ffselect">select FF</label><select name="selectff" id="selectff" class="form-control">
			{{#each firefighter}}
				<option value="{{this.name}}">{{this.name}}</option>
			{{/each}}
		</select></div>
		<div class="row">
			<div class="col-sm-6 form-group"><label for="rp1r">Rescue Pump 1(r)</label><input type="text" id="rp1r" class="form-control" name="rp1r"></div>
			<div class="col-sm-6 form-group"><label for="rp2r">Rescue Pump 2(r)</label><input type="text" id="rp2r" class="form-control" name="rp2r"></div>
		</div>
		<div class="row">
			<div class="col-sm-6 form-group"><label for="s1drive">Salvage Driver</label><input type="text" id="s1drive" class="form-control" name="s1drive"></div>
			<div class="col-sm-6 form-group"><label for="s1offside">Salvage offsider</label><input type="text" id="s1offside" class="form-control" name="s1offside"></div>
		</div>		
		<button class="btn btn-primary" type="submit">Submit</button>
	</form>
</div>
